.outer-box {
  max-width: 800px;
  margin: 20px auto;
}
.box {
  padding: 20px;
  border: 1px solid;
  border-color: black;
  border-radius: 5px;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(255, 200, 124) 0%,
    rgb(252, 251, 121) 90%
  );
}

.temperature .strong {
  font-size: 35px;
}
.description {
  font-size: 18px;
  font-weight: 500;
}

.place {
  font-size: 18px;
  font-weight: 500;
}
.dateTime {
  font-size: 15px;
  font-weight: 500;
}
.icon {
  font-size: 150px;
  color: steelblue;
}
li {
  position: relative;
  right: -600px;
  font: bold;
  font-size: 16px;
  font-weight: 200;
  list-style: none;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
.link {
  position: relative;
}

.active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.active:hover {
  text-decoration: none;
}
small {
  position: relative;
  right: -155px;
}
