.outer-card {
  max-width: 800px;
  margin: 20px auto;
}
.card {
  padding: 20px;
  border: 1px solid;
  border-color: black;
  border-radius: 5px;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(255, 200, 124) 0%,
    rgb(252, 251, 121) 90%
  );
}

.temperature {
  font-size: 55px;
}
.description {
  font-size: 18px;
  font-weight: 500;
}

.place {
  font-size: 18px;
  font-weight: 500;
}
.dateTime {
  font-size: 22px;
  font-weight: 500;
}
.icon {
  font-size: 80px;
  color: steelblue;
}
li {
  font: bold;
  font-size: 16px;
  font-weight: 200;
  list-style: none;
}

.row {
  margin-left: 90px;
}
.sun1,
.sun2,
.sun3,
.sun4,
.rain {
  color: rgb(114, 14, 11);
}
.days,
.temp {
  color: black;
}
